<h1>Tilmeld hold</h1>
<section class="guide">
	<h3>Sådan gør du</h3>
	<ol>
		<li>Indtast holdnavn. Det kunne være "Hold 5" eller "Dannys Helte"</li>
		<li>Indtast kontakt på en fra holdet, evt. telefon nummer eller email eller lignende</li>
		<li>Indtast den kode, som holdet skal bruge ude på posten hvis de ikke er blevet husket.</li>
		<li>Indtast navnene eller ligenede på deltagerne på holdet.</li>
	</ol>
	Hvis du er kommet til at oprette et hold forkert, bliver du nød til at tage fat på hold bestyreren, som kan rette oplysningerne for dig.
</section>
<%= render 'form' %>

<%= link_to 'Tilbage', loeb_path(@loeb) %>
