<h1>Om os</h1>

<h2>Hvad er ScoutRace.dk?</h2>
<p>
ScoutRace.dk er en ny web-applikation, som kan bruges til at lave løb for børn og unge. Den benytter sig af internettet og 2D-stregkoder. Alt sammen teknologi, som de fleste er unge er meget trygge ved. Man bruger telefonen til at skanne 2D-stregkoder, som så giver mulighed for at svare på poster, og blive sendt rundt på løbet.
</p>

<h2>Hvem kan bruge det?</h2>
<p>
Alle kan bruge ScoutRace.dk. Det er en nem service at komme igang med, og den er ikke bundet til et forbund eller gruppe. Alle er velkomne til at benytte servicen til at spændende løb for børn og unge.
</p>
<h2>Udviklerne bag:</h2>
<p>
Thomas Grinderslev - Medlem af FDF Karlebo og uddannet multimedie designer. Står for brugervenlighed og udseende af ScoutRace.dk.<br/>
David Askirk Fotel - Medlem af FDF Karlebo og uddannet civil ingeniør. Står for funktionaliteten bag ScoutRace.dk.
</p>

<h2>Priser</h2>
<p>
	Det er gratis!
</p>
<p>
Dog, koster det stadig lidt. ScoutRace.dk er bygget på en skalerbar platform. Dette betyder at servicen er gratis for små løb på under 10 hold, men den koster lidt, hvis man vil bruge servicen til flere hold. Det dækker primært den ekstra server kapicatitet som skal bruges ved større løb.
</p>
<p>
	Pris eksempel: 15 hold i en uge koster ca. 100 kr i alt. 
</p>
<p>
	<strong>Data Pris:</strong> Systemet koster desværre lidt i data-overførsler hvis du ikke har et flatrate-abonnemement. Har man et typisk dyrt teleselskab, vil det koste 1,50 - 2,00 kroner at gå ind på siden første gang og 2-3 øre pr sidevisning herefter.
</p>
<h3>Hvorfor koster det noget?</h3>
<p>
	Det er frivilligt om man vil betale, men for at få adgang til den performance der er nødvendigt er det bedst at betale. Så kan der skrues op for kræfterne på serveren.
</p>
<p>
	Kontakt os på <%= mail_to 'kontakt@scoutrace.dk'%> hvis det lyder spændende eller du har kommentarer/spørgsmål.
</p>
<h2>Hvilken app skal jeg bruge?</h2>
<p>
	Enhver app der kan skanne 2D-stregkode burde virke, men vi har med succes testet <%= link_to 'ScanLife', 'http://itunes.apple.com/dk/app/scanlife/id285324287?mt=8#' %> til iPhone/iPad og <%= link_to 'ZXing barcode skanner', 'https://market.android.com/details?id=com.google.zxing.client.android' %> til Android.
</p>

