<h1>Hjælp!!</h1>

<h2>Løb</h2>

<h3>Opret et løb</h3>
<p>
	For at oprette et løb trykkes der blot "Nyt løb". Herefter skal løbet udfyldes.	
</p>
<p>
	<ul>
		<li>Der skal indtastes navn. Det kan være et navn som "Lergraven rundt 2011" eller "Piratløb"</li>
		<li>Der skal indtastes en kontakt til at stå på posterne når de bliver printet så man kan se hvem der er ansvarlig for løbet. Det kunne være "David, FDF Karlebo"</li>
		<li>Du skal også indtaste en kode. Denne kode er den kode du skal indtaste når du skal rette i løbet. Uden den kode kan man ikke rette i løbet, eller se posterne. Derved kan man ikke komme ind bagved systemet og se det rigtige svar på posten.</li>
		<li>Når posterne bliver printet vil der være en start og slut dato på posterne. Dette er for at andre kan se hvornår løbet foregår, og hvornår man så derved kan forvente at posterne forsvinder.</li>
		<li>Til sidst skal angives om der skal oprettes hold til løbet. Hvis man ikke ønsker at der oprettes hold, eller at brugerne selv kan oprette hold, skal der ikke sættes hak i dette felt.</li>
	</ul>
</p>
<h3>Hvad kan jeg så?</h3>
<p>
	Når du har oprettet et løb kommer du ind på en oversigt. Her kan du opretter poster og evt. hold. Selvom du har valgt at brugerne ikke selv på oprette hold kan du stadig gøre det. Her kan du også se løbskoden. Du kan også se statestik for de forskellige hold, hvordan de har klaret de forskellige poster.
</p>

<h2>Hold</h2>
<h3>Opret et hold</h3>
<p>
	Når du opretter et hold eller holdet selv opretter sig skal følgende oplysninger være tilstede:
	<ul>
		<li>Holdnavn. Det kunne være "Hold 5" eller "Dannys Helte"</li>
		<li>Kontakt på en fra holdet, evt. telefon nummer eller email eller lignende</li>
		<li>Den kode, som holdet skal bruge ude på posten hvis de ikke er blevet husket. Det skal gerne være en nem kode, som er til at huske og nem at taste ude på løbet. Fx. "hold1" eller "danhelt"</li>
		<li>Navnene eller ligenede på deltagerne på holdet. Dette er for at se hvem der er på hvilke hold.</li>
	</ul>
	Hvis der er sket en fejl i oprettelsen af holder kan den løbsansvarlige enten slette holdet eller opdatere holdet. Det har brugerne ikke selv mulighed for. Samt hvis det ikke er angivet på selve løbet kan brugerne heller ikke selv oprette hold.
</p>

<h2>Poster</h2>
<h3>Opret post</h3>
<p>
	For at oprette en post skal der tages stilling om det er en post hvor der skal svares på et spørgsmål eller om det er en post som blot skal være en oplysning til holdet, eller hvis det er en levende post. De forskellige poster er beskrevet nedenfor.
</p>
<h4>Post typer</h4>
<p>
	<strong class="title">Levende post</strong>
	En levende post er en af de mere simple poster. Der er kun en beskrivelse af posten. Denne kan bruges til at give holdene en besked, både om hvad der sker på posten samt hvor de skal videre til. Udover dette kan der angives en placering af posten. 
</p>
<p>
	<strong class="title">Spørgsmåls post</strong>
	En spørgsmål post er en hvor holdet skal svare på et spørgsmål for at få lov til at komme videre. Hvis holder svarer rigtigt dukker der en tekst op hvor der kan stå hvor holdet så skal finde hen. Hvis holder svarer forkert kan der gives hints og evt. en hjælp eller lignende. <br>
	Ved en spørgsmåls post kan der angives placering samt muligheden for at holdet vil blive præsenteret for en "Prøv igen" knap.
</p>

<h4>Svare på post</h4>
<p>
	For at svare på en post indtastes post-id'et blot på forsiden, eller der skannes den QR-kode som der står på den printede post. Hvis holdet ikke er logget ind på forhånd vil de blive prænsenteret for et felt hvor de skal skrives deres hold kode. Dette skal de kun en gang. Derefter bliver det husket i browseren.
</p>

<h2></h2>
<p></p>
