<h1>Hjælp!!</h1>

<h2>Løb</h2>

<h3>Opret et løb</h3>
<p>
	For at oprette et løb trykkes der blot "Nyt løb". Herefter skal løbet udfyldes.	
</p>
<p>
	<ul>
		<li>Der skal indtastes navn. Det kan være et navn som "Lergraven rundt 2011" eller "Piratløb"</li>
		<li>Der skal indtastes en kontakt til at stå på posterne når de bliver printet så man kan se hvem der er ansvarlig for løbet. Det kunne være "David, FDF Karlebo"</li>
		<li>Du skal også indtaste en kode. Denne kode er den kode du skal indtaste når du skal rette i løbet. Uden den kode kan man ikke rette i løbet, eller se posterne. Derved kan man ikke komme ind bagved systemet og se det rigtige svar på posten.</li>
		<li>Når posterne bliver printet vil der være en start og slut dato på posterne. Dette er for at andre kan se hvornår løbet foregår, og hvornår man så derved kan forvente at posterne forsvinder.</li>
		<li>Til sidst skal angives om der skal oprettes hold til løbet. Hvis man ikke ønsker at der oprettes hold, eller at brugerne selv kan oprette hold, skal der ikke sættes hak i dette felt.</li>
	</ul>
</p>
<h3>Hvad kan jeg så?</h3>
<p>
	Når du har oprettet et løb kommer du ind på en oversigt. Her kan du opretter poster og evt. hold. Selvom du har valgt at brugerne ikke selv på oprette hold kan du stadig gøre det. Her kan du også se løbskoden. Du kan også se statestik for de forskellige hold, hvordan de har klaret de forskellige poster.
</p>

<h2>Hold</h2>
<h3>Opret et hold</h3>
<p>
	<ol>
		<li>Indtast holdnavn. Det kunne være "Hold 5" eller "Dannys Helte"</li>
		<li>Indtast kontakt på en fra holdet, evt. telefon nummer eller email eller lignende</li>
		<li>Indtast den kode, som holdet skal bruge ude på posten hvis de ikke er blevet husket.</li>
		<li>Indtast navnene eller ligenede på deltagerne på holdet.</li>
	</ol>
	Hvis du er kommet til at oprette et hold forkert, bliver du nød til at tage fat på hold bestyreren, som kan rette oplysningerne for dig.
</p>

<h2>Opret post</h2>
<p></p>
<h3>Post typer</h3>
<p></p>

<h2>Svare på post</h2>
<p></p>

<h2></h2>
<p></p>

<h2></h2>
<p></p>

<h2></h2>
<p></p>

<h2></h2>
<p></p>
