<h1>Online poster</h1>
<p>Find post id'et og indtast det laengere nede</p>

<h2>Indtast post ID</h2>
<input type=text name='post_id' id='post_id'><button id='goto_post'>Tryk for at finde post</button>

<h2>Lav nyt</h2>
<%= link_to "Nyt loeb", new_loeb_path %>
<%= link_to "Ny post", new_post_path %>
<script>
	$(document).ready(function() {
		$('#goto_post').click(function() {
			window.location = '/posts/'+$('#post_id').val();
		});
	});
</script>
