<h1>Online poster</h1>
<p>Find post id'et og indtast det længere nede</p>

<section id="requestPost">
<h2>Indtast post ID</h2>
<p class="buttonContainer">
	<input type=text name='post_id' id='post_id'><button id='goto_post'>Hent post</button>
</p>
	</section>
<% if params.has_key? "admin" %>
<section id="createPost">
<h2>Lav nyt</h2>
<p class="buttonContainer">
<%= link_to "Nyt løb", new_loeb_path, :class=> 'button' %>
<%= link_to "Ny post", new_post_path, :class=> 'button' %>
<%= link_to "Alle løb", loebs_path, :class=> 'button' %>
<script>
	$(document).ready(function() {
		$('#goto_post').click(function() {
			window.location = '/posts/'+$('#post_id').val();
		});
	});
</script>
</p>
	</section>
<section id="guide">
	<h3>Brugs guide</h3>
	<p>
	Du kan indtaste et løb, som består af en overskrift. Efterfølgende kan posterne oprettes.
	</p>	<p>
	Hver post består af tre tekster. En tekst der bliver vist til brugeren som indeholder selve beskrivelsen af posten, samt to andre tekster. En tekst der bliver vist ved korrekt svar, og en der bliver vist ved forkert svar. 
		</p><p>	
	Hver post vil få et ID, som så skal indtastes på forsiden. Når ID'et bliver indtastet bliver post beskrivelsen hentet frem. Her kan brugeren så give sit svar, som så enten resultere i at teksten hvis det rigtige svar bliver indtastet bliver vist, eller teksten ved det forkerte svar. Samt, hvis der er givet mulighed for det, et link til "Prøv igen" hvis brugeren svarede forkert. Ellers er der et link som går tilbage til forsiden.
	</p>	<p>
	Spørgsmål, forslag eller ligenende. Kontakt david på davsebamse@gmail.com.
	</p>
	</section>
	<%end%>