<h1>Alle løb</h1>

<table>
  <tr>
    <th>Navn</th>
    <th></th>
  </tr>

<% @loebs.each do |loeb| %>
  <tr>
    <td><%= loeb.name %></td>
    <td><%= link_to 'Vis alle poster', loeb %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nyt løb', new_loeb_path %>
