<h1>Nyt løb</h1>
<section class="guide">
	<h3>Sådan gør du</h3>
	<p>
		<ol>
			<li>Indtast navn. Det kan være et navn som "Lergraven rundt 2011" eller "Piratløb"</li>
			<li>Indtast den kontakt som kommer på posterne når de bliver printet. Det kunne være "David, FDF Karlebo"</li>
			<li>Indtast en kode, som kan gives til andre som skal lave poster, eller ændre i løbet.</li>
			<li>Indtast hvornår posterne bliver hængt op</li>
			<li>Indtast hvornår posterne bliver taget ned</li>
		</ol>
	</p>
</section>
<%= render 'form' %>

<%= link_to '« Tilbage', loebs_path, :class => 'button' %>
