<% if @post.rigtig_svar_ans.upcase == params[:answer].upcase %>
	<p class="responseText"><%= @post.rigtig_svar.html_safe %></p>
<% else %>
	<p class="responseText">
		<%= @post.forkert_svar.html_safe %>
	</p>
	<% if @post.try_again %>
		<p class="buttonContainer">
			<%= link_to('Prøv igen', @post, :class => 'button') %>
		</p>
	<% end %>
<% end %>
